.main-page {
  height: 100vh;
  background-color: var(--main-bg);

  &__header {
    background-color: var(--header-bg);
  }

  &__wrapper-row {
    background-color: var(--main-bg);
  }

  &__loading-icon {
    font-size: 24px;
  }
}

.header {
  padding: 15px 0;

  &__title {
    font-size: 1.5rem;
    color: var(--basic-white);
  }
}
